/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-04-2015, 11:11:19
    Author     : zamorator
*/

.submenu{
    margin: 2%;
    border: solid #888 thin;
}
.contenido{
    margin: 1%;
}
.links_submenu{
    margin: 1% 1% 0;
}