/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-may-2015, 21:10:42
    Author     : Javoru
*/

body{
    font-family:verdana;
    background-image: url("../img/fondo.png"); 
    background-size:100% 100%; 				
    background-attachment:fixed; 
}

footer{
    margin:0;
    margin-top: 15px;
    clear: both;
    width:100%;
    height:200px;
    background-color:red;
    background: #636363;
    background: -moz-linear-gradient(top, #636363 0%, #303030 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#303030)); 
}
#panel{
    margin: auto;
    width: 80%;
    padding: 2%;
}

#contenido_panel{
    margin-top: 2%;
    width:100%; 
    //background-color: rgba(0, 0, 0, 0.2);
    //background: rgba(0, 0, 0, 0.2);
    //color: rgba(0, 0, 0, 0.2);
    border-radius:2px; 
    padding:5%;
}

.form-group input{
    
    width: 45%;
}
#anuncios{
    margin: 5% 5%;
}

#registro{
 width: 50%;
 margin:auto;
 padding:2%;
}

.avatar-seleccionar label{
    width: 12%; 
}

.avatar-seleccionar img {
 width: 100%;   
    
}

#ingreso{
 margin:auto;
 width: 50%;
 padding: 9%;
}

#ingreso_datos{
    padding: 2%;  
}

.form-group label{
    width: 45%;
}