/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-may-2015, 21:10:42
    Author     : Javoru
*/

body{
    font-family:verdana;
    background-image: url("../img/fondo.jpg"); 
    background-size:100% 100%; 					/* El background utilizara el 100% del navegador en eje x y eje y */
    background-attachment:fixed; 	
}


footer{
    margin:0;
    //margin-top: 900px;
    clear: both;
    width:100%;
    height:200px;
    background-color:red;
    background: #636363;
    background: -moz-linear-gradient(top, #636363 0%, #303030 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#303030)); 
}

.contenido{
    margin: 2%;
}
.ajustado-der{
    margin-right: 2%;
}
.alto{
    height: 120px;
}
.top3{
    margin-top: 120px;
    margin-left: 2%;
    margin-right: 2%;
}
.upright{
    margin-right: 2%;
    margin-top: 2%;
}
#panel{
    margin:auto;
    width:80%;
    padding:2%;
}

#contenido_panel{
    margin-top: 2%;
    width:100%; 
    //background-color: rgba(0, 0, 0, 0.2);
    //background: rgba(0, 0, 0, 0.2);
    //color: rgba(0, 0, 0, 0.2);
    border-radius:2px; 

}

.form-group input{

    //width: 45%;
}
#anuncios{
    margin: 5% 5%;
}

#anunciossugeridos{ 
    margin: 5% 5%;
}

#registro{
    width: 50%;
    margin:auto;
    padding:2%;
}

.avatar-seleccionar label{
    width: 12%; 
}

.avatar-seleccionar img {
    width: 100%;   

}

#ingreso{
    margin:auto;
    width: 50%;
    padding: 9%;
}

#ingreso_datos{
    padding: 2%;  
}

.form-group label{
    width: 45%;
}

#panel_sugeridos{
    margin-top: 2%;
    width:100%; 
    background-color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    border-radius:2px; 
}
.ajustado{
    margin: 10%;
}

.margen{
    margin: 1%;
}

#panel_publicar{
    width: 60%;
    margin:auto;
    margin-top: 8%;
    background-color: rgba(255, 255, 255, 0.9);
    float:left;
    border-radius: 10px;
    border: 1px solid #ddd;
}
#panel_publicar_lateral{
    float: right;
    /*background-color: blue;*/
    width: 30%;
    margin:auto;
    margin-top: 8%;
    margin-left:2%;
}

#img_publicar{
    width: 60%;
    margin-left:18%;
}


#img_anuncios{
    width:250px;
    height: 150px;
}


.business-header {
    height: 400px;
    background: url('../img/cabecera-inico.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#imagen2{
    float: right;
}

#acceso_usuarios{
   margin-left:5%;
}
#acceso_empresas{
   margin-right:5%;
}
#tesistas{
margin-left:12%;
}
